* {
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  border-radius: 5px;
  margin: 30px auto;
  width: 950px;
  height: 720px;
  background: lightgray;
}
.header {
  line-height: 100px;
  float: left;
  width: 98%;
  height: 100px;
  background: rgb(27, 74, 161);
  margin: 70px 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
.iconPart {
  float: left;
  width: 25%;
  height: 80%;
  margin: 10px 10px;
  border-right: 3px solid white;
}
.icon {
  background: rgb(214, 87, 13);
  border-radius: 100%;
  border: 1px solid white;
  height: 85%;
  width: 70px;
  padding: 5px;
  margin: 0px 35px;
}
.textPart {
  float: left;
}
.pageText {
  float: right;
  margin-right: 15px;
}
.mainPart {
  float: left;
  width: 100%;
  height: 460px;
  overflow: hidden;
}
.flexPart {
  margin: 10px;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.flexPart1 {
  right: 0%;
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.flexDiv {
  cursor: pointer;
  width: 222.5px;
  height: 100px;
  background: yellow;
  margin: 5px;
  border-radius: 10px;
}
.flexDiv2 {
  cursor: pointer;
  width: 222.5px;
  height: 100px;
  background: yellow;
  margin: 5px;
  border-radius: 10px;
}
.flexDiv:nth-child(1) {
  background: white;
}
.flexDiv:nth-child(2) {
  background: white;
}
.flexDiv:nth-child(3) {
  background: white;
}
.flexDiv:nth-child(4) {
  background: white;
}
.flexDiv:nth-child(5) {
  background: white;
}
.flexDiv:nth-child(6) {
  background: white;
}
.flexDiv:nth-child(7) {
  background: white;
}
.flexDiv:nth-child(8) {
  background: #df2b5e;
}
.flexDiv:nth-child(9) {
  background: white;
}
.flexDiv:nth-child(10) {
  background: white;
}
.flexDiv:nth-child(11) {
  background: white;
}
.flexDiv:nth-child(12) {
  background: white;
}
.flexDiv:nth-child(13) {
  background: linear-gradient(to bottom right, #0075bf, #a5d597);
}
.flexDiv:nth-child(14) {
  background: white;
}
.flexDiv:nth-child(15) {
  background: #b7c6cc;
}
.flexDiv:nth-child(16) {
  background: white;
}

.flexDiv:nth-child(1) .flexDivImg {
  width: 60%;
  height: 70%;
  margin: 15px 45px;
}
.flexDiv:nth-child(2) .flexDivImg {
  width: 80%;
  height: 80%;
  margin: 10px 20px;
}
.flexDiv:nth-child(3) .flexDivImg {
  width: 80%;
  height: 80%;
  margin: 15px 25px;
}
.flexDiv:nth-child(4) .flexDivImg {
  width: 80%;
  height: 100%;
  margin: 0px 20px;
}
.flexDiv:nth-child(5) .flexDivImg {
  width: 90%;
  height: 70%;
  margin: 20px 10px;
}
.flexDiv:nth-child(6) .flexDivImg {
  width: 80%;
  height: 100%;
  margin: 0px 20px;
}
.flexDiv:nth-child(7) .flexDivImg {
  width: 80%;
  height: 100%;
  margin: 0px 20px;
}
.flexDiv:nth-child(8) .flexDivImg {
  width: 90%;
  height: 100%;
  margin: 0px 10px;
}
.flexDiv:nth-child(9) .flexDivImg {
  width: 80%;
  height: 80%;
  margin: 10px 20px;
}
.flexDiv:nth-child(10) .flexDivImg {
  width: 80%;
  height: 60%;
  margin: 20px 20px;
}
.flexDiv:nth-child(11) .flexDivImg {
  width: 100%;
  height: 100%;
}
.flexDiv:nth-child(12) .flexDivImg {
  width: 80%;
  height: 70%;
  margin: 15px 20px;
}
.flexDiv:nth-child(13) .flexDivImg {
  width: 60%;
  height: 100%;
  margin: 0px 45px;
}
.flexDiv:nth-child(14) .flexDivImg {
  width: 60%;
  height: 70%;
  margin: 15px 50px;
}
.flexDiv:nth-child(15) .flexDivImg {
  width: 60%;
  height: 70%;
  margin: 15px 50px;
}
.flexDiv:nth-child(16) .flexDivImg {
  width: 80%;
  height: 80%;
  margin: 10px 25px;
}

.flexDiv2:nth-child(1) {
  background: white;
}
.flexDiv2:nth-child(2) {
  background: #62217f;
}
.flexDiv2:nth-child(3) {
  background: white;
}
.flexDiv2:nth-child(4) {
  background: white;
}
.flexDiv2:nth-child(5) {
  background: white;
}
.flexDiv2:nth-child(6) {
  background: white;
}
.flexDiv2:nth-child(7) {
  background: white;
}
.flexDiv2:nth-child(8) {
  background: rgb(161, 158, 158);
}
.flexDiv2:nth-child(9) {
  background: white;
}
.flexDiv2:nth-child(10) {
  background: white;
}
.flexDiv2:nth-child(1) .flexDivImg2 {
  width: 80%;
  height: 70%;
  margin: 15px 20px;
}
.flexDiv2:nth-child(2) .flexDivImg2 {
  width: 90%;
  height: 90%;
  margin: 5px 15px;
}
.flexDiv2:nth-child(3) .flexDivImg2 {
  width: 60%;
  height: 80%;
  margin: 10px 45px;
}
.flexDiv2:nth-child(4) .flexDivImg2 {
  width: 90%;
  height: 90%;
  margin: 5px 15px;
}

.flexDiv2:nth-child(5) .flexDivImg2 {
  width: 90%;
  height: 100%;
  margin: 0px 10px;
}

.flexDiv2:nth-child(6) .flexDivImg2 {
  width: 90%;
  height: 80%;
  margin: 10px 10px;
}
.flexDiv2:nth-child(7) .flexDivImg2 {
  float: left;
  width: 40%;
  height: 50%;
  margin: 5px 65px;
}
.flexDivText {
  float: left;
  color: rgb(71, 69, 69);
  margin: 5px 13px;
  font-size: 22px;
}
.flexDiv2:nth-child(8) .flexDivImg2 {
  float: left;
  width: 40%;
  height: 60%;
  margin: 0px 65px;
}
.seventhText {
  float: left;
  color: white;
  margin: 5px 27px;
  font-size: 20px;
}
.flexDiv2:nth-child(9) .flexDivImg2 {
  width: 90%;
  height: 80%;
  margin: 10px 10px;
}
.flexDiv2:nth-child(10) .flexDivImg2 {
  width: 70%;
  height: 60%;
  margin: 20px 40px;
}
.flexPart2 {
  left: 100%;
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.footer {
  position: absolute;
  top: 88%;
  float: left;
  width: 100%;
  height: 100px;
  text-align: center;
}
.btn {
  outline: none;
  cursor: pointer;
  width: 220px;
  height: 75px;
  background: darkgray;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  text-align: start;
}
.btnIcon {
  float: left;
  width: 25%;
  padding: 0px 10px;
  border-right: 3px solid white;
  margin-right: 17px;
}
.btnText {
  margin-top: 5px;
}
.forwardBtn {
  right: 10px;
  position: absolute;
  outline: none;
  cursor: pointer;
  width: 220px;
  height: 75px;
  background: rgb(230, 189, 8);
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  text-align: start;
  line-height: 75px;
}
.forwardBtnText {
  float: left;
  margin-left: 60px;
  margin-right: 12.5px;
}
.forwardIcon {
  float: left;
  height: 60%;
  padding-left: 10px;
  margin-top: 15px;
  border-left: 2px solid white;
}
.backBtn {
  visibility: hidden;
  left: 10px;
  position: absolute;
  outline: none;
  cursor: pointer;
  width: 220px;
  height: 75px;
  background: rgb(230, 189, 8);
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: white;
  text-align: start;
  line-height: 75px;
}
.backIcon {
  float: left;
  height: 60%;
  padding-left: 10px;
  margin-top: 15px;
  border-left: 2px solid white;
  transform: rotate(180deg);
  margin-left: 12.5px;
}
.backBtnText {
  float: left;
  margin-left: 15px;
}
